{% extends "base.html" %}
{% load static %}

{% block body_block %}

<h1>Hello! This is personal profile!</h1>
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <div class="card w-90">
            <div class="card-body">
                <p class="card-text">First Name: {{ first_name }}</p>
                <p class="card-text">Last Name: {{ last_name }}</p>
                <p class="card-text">Age: {{ age }}</p>
                <p class="card-text">Introduction: {{ introduction }}</p>
                <div class="col-3">
                    <img src="{{ MEDIA_URL }}{{ profile_pic }}" width="col-1" height="col-1" class="card-img-top" alt="profile_pics">'
                </div>

            </div>
        </div>

    </li>
</ul>
<form action="" method="POST">
    {% csrf_token %}
    <button type="submit" class="save btn btn-primary" name="profile_update" value="profile_update">Change Personal Profile</button>
</form>
{% endblock %}

